{% extends 'base.html.twig' %}
{% block title %}Contactez-nous{% endblock %}
{% block content %}
    {% form_theme form 'bootstrap_4_layout.html.twig' %}

    <div class="container content mt-3">
        <div class="row">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Accueil</a></li>
                <li class="breadcrumb-item active" aria-current="page">Contact</li>
            </ol>
            <div class="col-md-3 col-lg-2"></div>
            <div class="col-12 col-md-8 col-lg-8 card">
                <div class="card-body">
                        <h4 class="card-title">Contactez-nous</h4>
                    <div class="justify-content-center">

                        {{ form_start(form) }}
                        <div>
                            {{ form_row(form.name) }}
                        </div>
                        <div>
                            {{ form_row(form.phone) }}

                        </div>
                        <div>
                            {{ form_row(form.subject) }}
                        </div>
                        <div>
                            {{ form_row(form.email) }}
                        </div>
                        <div>
                            {{ form_row(form.message) }}

                        </div>

                        {# Render CSRF token etc .#}
                        <div style="display:none">
                            {{ form_rest(form) }}
                        </div>

                        <input type="submit" value="Submit" class="btn btn-primary">

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-2"></div>
        </div>
    </div>

{% endblock %}