<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        {% endblock %}
    </head>
    <body>

        <header id="home_header" class="sticky-top">
            {#<div class="container-fluid">
                <img src="{{ asset('img/banner.jpg') }}" alt="Bannière" class="banner img-fluid">
                <div>
                    <img src="{{ asset('img/Logo.png') }}" alt="Logo" class="logo img-fluid navbar-brand">
                </div>
            </div>#}

            {#----- Navigation -----#}
            <nav class="navbar navbar-expand-md">
                    <!-- Navbar Brand -->
                    <a class="navbar-brand" href="#">
                        <img src="{{ asset('img/Logo.png') }}" width="70" height="50" alt="Logo">Cap vers l'avenir
                    </a>

                    <!-- Toggle Button [handles opening navbar menu on mobile screens]-->
                    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <!-- Navbar Collapse [collect navbar components such as navbar links and forms ] -->
                    <div class="collapse navbar-collapse" id="navbarMenu">
                        <!-- Navbar Links -->
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Accueil <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">L'association</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="#">Actualités</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="#">Evènements</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="#">Contact</a>
                            </li>
                            <li class="nav-item">
                                <button class="btn btn-warning" type="button">
                                    <a class="nav-link " href="#">Je deviens adhérent</a>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        {% block main %}
        {% endblock %}

        <footer>
            <div class="footerHeader" ></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4" >
                            <h3 class="text-center">A propos de notre association</h3>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                        </div>

                        <div class="col-md-4">
                            <h3 class="text-center">Nous situer </h3>
                            <iframe
                                    width="250"
                                    height="350"
                                    frameborder="0" style="border:0"
                                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDuD77wfIsRqpqywb7M7Tctrbvtdk5JxDE
                                    &q=55+rue+Pasteur,Lamagistère" allowfullscreen>
                            </iframe>
                        </div>
                        <div class="col-md-4" >
                            <h3 class="text-center">Nous contacter</h3>
                            <ul>
                                <li>Téléphone : 06.06.06.06.06</li>
                                <li><a href="#contact">Nous contacter par email</a></li>
                                <li>Permanences:</li>
                                <li>Lundi à Vendredi:10h-12h00, 14h-18h</li>
                            </ul>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                            </p>
                            <ul class="sm">
                                <li><a href="#" ><img src="https://www.facebook.com/images/fb_icon_325x325.png" class="img-responsive"></a></li>
                                <li><a href="#" ><img src="https://lh3.googleusercontent.com/00APBMVQh3yraN704gKCeM63KzeQ-zHUi5wK6E9TjRQ26McyqYBt-zy__4i8GXDAfeys=w300" class="img-responsive" ></a></li>
                                <li><a href="#" ><img src="http://playbookathlete.com/wp-content/uploads/2016/10/twitter-logo-4.png" class="img-responsive"  ></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            <div class="footerCredits" >
                Realisation -
                <a id="jb" href="http://www.jeanbaptisteleoty.fr"
                   onclick="window.open(this.href); return false;">Jean-Baptiste Leoty</a>
            </div>
        </footer>


        {% block body %}{% endblock %}
        <script src="{{ asset('build/js/app.js') }}"></script>

        {% block javascripts %}
        {% endblock %}
    </body>
</html>
